Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
import pandas as pd

In [39]:
movies_ratings = pd.read_csv('ratings.csv')
movies_ratings.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [56]:
movies_ratings['class'] = movies_ratings['rating'].apply(lambda x: 'low' if x <= 2.0 else ('middle' if x <= 4.0 else 'high'))
movies_ratings.head(5)

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  middle
1       1     1029     3.0  1260759179  middle
2       1     1061     3.0  1260759182  middle
3       1     1129     2.0  1260759185     low
4       1     1172     4.0  1260759205  middle

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [60]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [70]:
keywords = pd.read_csv('keywords.csv')
keywords.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [80]:
keywords['region'] = keywords['keyword'].apply(lambda x: [key if x in value else 'undefined' for key, value in geo_data.items()][0])
keywords.head(10)

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined

Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга